<div class="container px-4 py-5 mx-auto">
  <div class="card card0">
    <div class="d-flex flex-lg-row flex-column-reverse">
      <div class="card card1">
        <div class="row justify-content-center my-auto">
          <div class="col-md-8 col-10 my-5">
            
            <h3 class="mb-5 text-center heading">Lorem Ipsum</h3>
            <h6 class="msg-info">Please enter your email</h6>

            <form [formGroup]="form">
              
              <div class="form-group"> 
                <label class="form-control-label text-muted">Email</label> 
                <input type="email" [(ngModel)]="userEmail" formControlName="email" id="email" name="email" placeholder="Email" class="form-control"> 
                <label class="text-danger" *ngIf="getError(form.get('email'))">
                  {{
                      getError(form.get('email'))
                  }}
              </label>
              </div>
            </form>
            
            <div class="row justify-content-center my-3 px-3">
              <input class="btn-block btn-color" type="file" (change)="onFileSelected($event)" accept=".docx">
            </div>
            
            <div class="bottom text-center mb-5">
              <input class="btn btn-white ml-2" type="button" value="upload" (click)="onUpload()">
            </div>
          </div>
        </div>

      </div>
      <div class="card card2">
        <div class="my-auto mx-md-5 px-md-5 right">
          <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Lorem ipsum dolor sit
            amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</small>
        </div>
      </div>
    </div>
  </div>
</div>
